<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/index.ico" type="image/x-icon" >
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--<link rel="stylesheet" href="https://unpkg.com/element-ui@2.0.5/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="/stylesheets/element-ui.css">
</head>
<body >
<%- include('common/header.ejs'); %>
<div class="clearfix wrapper" id="app">
    <%- include('common/left.ejs'); %>
    <div class="main">
        <div class="main-inner">
            <div class="content-inner">
                <el-form :model="cms" :rules="rules" ref="cms" label-width="100px" class="demo-cms">
                    <el-form-item label="标题" prop="title">
                        <el-input v-model="cms.title"></el-input>
                    </el-form-item>
                    <el-form-item label="关键字" prop="keyword">
                        <el-input v-model="cms.keyword"></el-input>
                    </el-form-item>
                    <el-form-item label="描述" prop="description">
                        <el-input v-model="cms.description"></el-input>
                    </el-form-item>
                    <el-form-item label="菜单" prop="menu">
                        <el-select v-model="cms.menu" placeholder="菜单">
                            <% for(var i=0;i<menuList.length ; i++){%>
                            <el-option label="<%= menuList[i].title%>" value="<%=menuList[i].id%>"></el-option>
                            <%}%>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="是否首页">
                        <el-switch v-model="cms.isindex" active-value="1" inactive-value="0"></el-switch>
                    </el-form-item>
                </el-form>
                <div>
                    <label class="el-form-item__label" style="width: 100px;">内容</label>
                    <div id="editor" class="editor" type="text/plain" style="height:400px;"></div>
                </div>

                <p class="cms-submit">
                    <button @click="del" v-if="cms.id">删除</button>
                    <button @click="submitCms">提交</button>
                </p>
            </div>
        </div>
    </div>
</div>
<!--<script src="https://unpkg.com/vue@2.5.9"></script>-->
<script>
    if (!window.Vue) {
        var script = document.createElement('script');
        script.src = "/javascripts/vue.min.js";
        document.body.appendChild(script);
    }
</script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>-->
<script src="/javascripts/vue-resource.min.js"></script>
<!-- 引入组件库 -->
<!--<script src="https://unpkg.com/element-ui@2.0.5/lib/index.js"></script>-->
<script src="/javascripts/element-ui.js"></script>
<script src="/ueditor/ueditor.config.js"></script>
<script src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="/ueditor/ueditor.all.min.js"></script>
<script>
    var ue = UE.getEditor('editor',{'autoHeightEnabled': false});
    var id = "<%= id%>";

    new Vue({
        el: '#app',
        data: {
            cms: {
                id:id,
                title:"",
                keyword:"",
                description:"",
                menu:"",
                isindex:"0",
                content:"",
            },
            rules: {
                title: [
                    {required: true, message: '请输入标题', trigger: 'blur'}
                ],
                keyword: [
                    {required: true, message: '请输入关键字', trigger: 'blur'}
                ],
                description: [
                    {required: true, message: '请输入描述', trigger: 'blur'}
                ],
                menu: [
                    {required: true, message: '请选择菜单', trigger: 'change'}
                ]
            }
        },
        mounted(){
            if (id) {
                ue.addListener("ready", () => {
                    this.getEditContent();
                });
            }
        },
        methods:{
            getEditContent(){
                this.$http.get('/cms/content/' + id).then(response => {
                    this.cms = response.body.data;
                    ue.setContent(this.cms.content);
                }, response => {
                    this.$message.error(response.body.msg);
                });
            },
            submitCms(){
                this.$refs.cms.validate((valid)=>{
                    if (valid) {
                        this.cms.content = ue.getContent();
                        // GET /someUrl
                        this.$http.post('/cmsForm/addOrUpdate',this.cms).then(response => {
                            this.$message({
                                message: '恭喜你，发布成功',
                                type: 'success',
                                onClose:()=>{
                                    window.location.href = "/html/cms/content.jsp?menu=" + this.cms.menu + "&id=" + response.body.data;
                                }
                            });
                        }, response => {
                            this.$message.error(response.body.msg);
                        });
                    } else {
                        window.scrollTo(0,0);
                        return false;
                    }
                })
            },
            del(){
                this.$confirm('确定删除?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // GET /someUrl
                    this.$http.post('/cmsForm/del',{id:this.cms.id}).then(response => {
                        if(response.body.status && response.body.status === 200){
                            this.$message({
                                message: '恭喜你，删除成功',
                                type: 'success',
                                onClose:()=>{
                                    window.location.href = "/list/" + this.cms.menu;
                                }
                            });
                        }else{
                            this.$message.error(response.body.msg);
                        }
                    }, response => {
                        this.$message.error(response.body.msg);
                    });
                },() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }
        }
    })
</script>
<%- include('common/footer.ejs'); %>
</body>
</html>
