<!DOCTYPE html>
<html>
<head>
    <title><%= content.title%></title>
    <meta content="<%= content.description%>" name="description">
    <meta content="<%= content.keyword%>" name="keywords">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<%- include('common/header.ejs'); %>
<div class="clearfix wrapper">
    <%- include('common/left.ejs'); %>
    <div class="main">
        <div class="main-inner">
            <div class="content-inner">
                <h2 class="list-h2">
                    <%= content.title%>
                </h2>
                <div class="content-article">
                    <%- content.content%>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
