<!DOCTYPE html>
<html>
<head>
    <title>林超群博客</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<%- include('common/header.ejs'); %>
<div class="clearfix">
    <%- include('common/left.ejs'); %>
    <div class="main">
        <div class="main-inner">
            <ul class="list-ul">
                <% list.forEach(function(row){%>
                <li class="list-li">
                    <h2 class="list-h2">
                        <a href="/html/cms/content.jsp?menu=<%= menu%>&id=<%= row.id%>">
                            <i class="icon-link"></i> <%- row.title%> </a>
                    </h2>
                    <div class="list-info clearfix">
                        <p class="list-p">
                            <%- row.description%>
                        </p>
                        <a href="/html/cms/content.jsp?menu=<%= menu%>&id=<%= row.id%>" class="fr">阅读全文</a>
                    </div>
                </li>
                <% })%>
            </ul>
            <ul class="pagination">
                <% if(pageInfo.prev) {%>
                    <li><a href="/<%=menu%>/<%=pageInfo.prev%>/<%=pageInfo.pageSize%>">«</a></li>
                <% }else {%>
                    <li><a href="javascript:void(0)">«</a></li>
                <% }%>
                <% for(var i = 1; i <= pageInfo.pageCount;i++){%>
                    <li>
                        <a
                            class="<%= pageInfo.now === i ? 'active':""%>"
                            href="/<%=menu%>/<%= i%>/<%=pageInfo.pageSize%>">
                            <%= i %>
                        </a>
                    </li>
                <% }%>
                <!--<li><a class="active" href="#">2</a></li>-->
                <!--<li><a href="#">3</a></li>-->
                <!--<li><a href="#">4</a></li>-->
                <!--<li><a href="#">5</a></li>-->
                <!--<li><a href="#">6</a></li>-->
                <!--<li><a href="#">7</a></li>-->
                <% if(pageInfo.next) {%>
                    <li><a href="/<%=menu%>/<%=pageInfo.next%>/<%=pageInfo.pageSize%>">»</a></li>
                <% }else {%>
                    <li><a href="javascript:void(0)">»</a></li>
                <% }%>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
